/* qTip */
#qtip-overlay.blurs,.qtip-close{cursor:pointer}.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:280px;min-width:50px;font-size:10.5px;line-height:12px;direction:ltr;box-shadow:none;padding:0}.qtip-content,.qtip-titlebar{position:relative;overflow:hidden}.qtip-content{padding:5px 9px;text-align:left;word-wrap:break-word}.qtip-titlebar{padding:5px 35px 5px 10px;border-width:0 0 1px;font-weight:700}.qtip-titlebar+.qtip-content{border-top-width:0!important}.qtip-close{position:absolute;right:-9px;top:-9px;z-index:11;outline:0;border:1px solid transparent}.qtip-titlebar .qtip-close{right:4px;top:50%;margin-top:-9px}* html .qtip-titlebar .qtip-close{top:16px}.qtip-icon .ui-icon,.qtip-titlebar .ui-icon{display:block;text-indent:-1000em;direction:ltr}.qtip-icon,.qtip-icon .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-decoration:none}.qtip-icon .ui-icon{width:18px;height:14px;line-height:14px;text-align:center;text-indent:0;font:normal 700 10px/13px Tahoma,sans-serif;color:inherit;background:-100em -100em no-repeat}.qtip-default{border:1px solid #F1D031;background-color:#FFFFA3;color:#555}.qtip-default .qtip-titlebar{background-color:#FFEF93}.qtip-default .qtip-icon{border-color:#CCC;background:#F1F1F1;color:#777}.qtip-default .qtip-titlebar .qtip-close{border-color:#AAA;color:#111}.qtip-light{background-color:#fff;border-color:#E2E2E2;color:#454545}.qtip-light .qtip-titlebar{background-color:#f1f1f1}.qtip-dark{background-color:#505050;border-color:#303030;color:#f3f3f3}.qtip-dark .qtip-titlebar{background-color:#404040}.qtip-dark .qtip-icon{border-color:#444}.qtip-dark .qtip-titlebar .ui-state-hover{border-color:#303030}.qtip-cream{background-color:#FBF7AA;border-color:#F9E98E;color:#A27D35}.qtip-red,.qtip-red .qtip-icon,.qtip-red .qtip-titlebar .ui-state-hover{border-color:#D95252}.qtip-cream .qtip-titlebar{background-color:#F0DE7D}.qtip-cream .qtip-close .qtip-icon{background-position:-82px 0}.qtip-red{background-color:#F78B83;color:#912323}.qtip-red .qtip-titlebar{background-color:#F06D65}.qtip-red .qtip-close .qtip-icon{background-position:-102px 0}.qtip-green{background-color:#CAED9E;border-color:#90D93F;color:#3F6219}.qtip-green .qtip-titlebar{background-color:#B0DE78}.qtip-green .qtip-close .qtip-icon{background-position:-42px 0}.qtip-blue{background-color:#E5F6FE;border-color:#ADD9ED;color:#5E99BD}.qtip-blue .qtip-titlebar{background-color:#D0E9F5}.qtip-blue .qtip-close .qtip-icon{background-position:-2px 0}.qtip-shadow{-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,.15);-moz-box-shadow:1px 1px 3px 1px rgba(0,0,0,.15);box-shadow:1px 1px 3px 1px rgba(0,0,0,.15)}.qtip-bootstrap,.qtip-rounded,.qtip-tipsy{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.qtip-rounded .qtip-titlebar{-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}.qtip-youtube{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 3px #333;-moz-box-shadow:0 0 3px #333;box-shadow:0 0 3px #333;color:#fff;border:0 solid transparent;background:#4A4A4A;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#4A4A4A),color-stop(100%,#000));background-image:-webkit-linear-gradient(top,#4A4A4A 0,#000 100%);background-image:-moz-linear-gradient(top,#4A4A4A 0,#000 100%);background-image:-ms-linear-gradient(top,#4A4A4A 0,#000 100%);background-image:-o-linear-gradient(top,#4A4A4A 0,#000 100%)}.qtip-youtube .qtip-titlebar{background-color:#4A4A4A;background-color:rgba(0,0,0,0)}.qtip-youtube .qtip-content{padding:.75em;font:12px arial,sans-serif;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);"}.qtip-youtube .qtip-icon{border-color:#222}.qtip-youtube .qtip-titlebar .ui-state-hover{border-color:#303030}.qtip-jtools{background:#232323;background:rgba(0,0,0,.7);background-image:-webkit-gradient(linear,left top,left bottom,from(#717171),to(#232323));background-image:-moz-linear-gradient(top,#717171,#232323);background-image:-webkit-linear-gradient(top,#717171,#232323);background-image:-ms-linear-gradient(top,#717171,#232323);background-image:-o-linear-gradient(top,#717171,#232323);border:2px solid #ddd;border:2px solid rgba(241,241,241,1);-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 12px #333;-moz-box-shadow:0 0 12px #333;box-shadow:0 0 12px #333}.qtip-jtools .qtip-titlebar{background-color:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)"}.qtip-jtools .qtip-content{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)"}.qtip-jtools .qtip-content,.qtip-jtools .qtip-titlebar{background:0 0;color:#fff;border:0 dashed transparent}.qtip-jtools .qtip-icon{border-color:#555}.qtip-jtools .qtip-titlebar .ui-state-hover{border-color:#333}.qtip-cluetip{-webkit-box-shadow:4px 4px 5px rgba(0,0,0,.4);-moz-box-shadow:4px 4px 5px rgba(0,0,0,.4);box-shadow:4px 4px 5px rgba(0,0,0,.4);background-color:#D9D9C2;color:#111;border:0 dashed transparent}.qtip-cluetip .qtip-titlebar{background-color:#87876A;color:#fff;border:0 dashed transparent}.qtip-cluetip .qtip-icon{border-color:#808064}.qtip-cluetip .qtip-titlebar .ui-state-hover{border-color:#696952;color:#696952}.qtip-tipsy{background:#000;background:rgba(0,0,0,.87);color:#fff;border:0 solid transparent;font-size:11px;font-family:'Lucida Grande',sans-serif;font-weight:700;line-height:16px;text-shadow:0 1px #000}.qtip-tipsy .qtip-titlebar{padding:6px 35px 0 10px;background-color:transparent}.qtip-tipsy .qtip-content{padding:6px 10px}.qtip-tipsy .qtip-icon{border-color:#222;text-shadow:none}.qtip-tipsy .qtip-titlebar .ui-state-hover{border-color:#303030}.qtip-tipped{border:3px solid #959FA9;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-color:#F9F9F9;color:#454545;font-weight:400;font-family:serif}.qtip-tipped .qtip-titlebar{border-bottom-width:0;color:#fff;background:#3A79B8;background-image:-webkit-gradient(linear,left top,left bottom,from(#3A79B8),to(#2E629D));background-image:-webkit-linear-gradient(top,#3A79B8,#2E629D);background-image:-moz-linear-gradient(top,#3A79B8,#2E629D);background-image:-ms-linear-gradient(top,#3A79B8,#2E629D);background-image:-o-linear-gradient(top,#3A79B8,#2E629D);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)"}.qtip-tipped .qtip-icon{border:2px solid #285589;background:#285589}.qtip-tipped .qtip-icon .ui-icon{background-color:#FBFBFB;color:#555}.qtip-bootstrap{font-size:14px;line-height:20px;color:#333;padding:1px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}.qtip-bootstrap .qtip-titlebar{padding:8px 14px;margin:0;font-size:14px;font-weight:400;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}.qtip-bootstrap .qtip-titlebar .qtip-close{right:11px;top:45%;border-style:none}.qtip-bootstrap .qtip-content{padding:9px 14px}.qtip-bootstrap .qtip-icon{background:0 0}.qtip-bootstrap .qtip-icon .ui-icon{width:auto;height:auto;float:right;font-size:20px;font-weight:700;line-height:18px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}#qtip-overlay,#qtip-overlay div{left:0;top:0;width:100%;height:100%}.qtip-bootstrap .qtip-icon .ui-icon:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}.qtip:not(.ie9haxors) div.qtip-content,.qtip:not(.ie9haxors) div.qtip-titlebar{filter:none;-ms-filter:none}.qtip .qtip-tip{margin:0 auto;overflow:hidden;z-index:10}.qtip .qtip-tip,x:-o-prefocus{visibility:hidden}.qtip .qtip-tip,.qtip .qtip-tip .qtip-vml,.qtip .qtip-tip canvas{position:absolute;color:#123456;background:0 0;border:0 dashed transparent}.qtip .qtip-tip canvas{top:0;left:0}.qtip .qtip-tip .qtip-vml{behavior:url(#default#VML);display:inline-block;visibility:visible}#qtip-overlay{position:fixed}#qtip-overlay div{position:absolute;background-color:#000;opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"}.qtipmodal-ie6fix{position:absolute!important}

.badge-info{
  background-color: #495057;
}

.list-group-item .badge-info:hover, .list-group-item .badge-primary:hover, .list-group-item .badge-warning:hover{
  background-color:#9964e3!important;
}


.text-search-hit{
  background: yellow;
  padding: 2px;
}

.resultCt{
  /*font-family: 'Source Code Pro', monospace;*/
}

    .facets {
      border: 1px solid #ccc;
      padding: 15px 15px;
      white-space: nowrap;
    }

    .facets select{
      background-color: transparent;
      border: 0px solid transparent;
    }

    .instance {
      background-color: #efefef;
    }

    .keywordsDefault{
      color: gray;
    }

    .hide{
      visibility: hidden;
      display: none;
    }

    .incompleteAlert{
      background-color: #f55d5d; /* #CC0000; */
      color: white;
      /*font-weight: bold;*/
      padding: 4px 4px;
    }

    .incompleteComponentAlert{
      border: 1px solid #f55d5d; /* #B02B2C;*/
      padding: 4px 4px;
    border-radius: 0.25rem;      
    }

    .resultTableCell{
      white-space: nowrap;
      vertical-align: top;
      text-align: left;
      height:0px;
      width:0px;
    }

    .resultTableHeader{
      background-color: #efefef;
      border: 1px solid #ccc;
      height: 0px;
      width:0px;
    }

.loading {    /*
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
    */
}

.loadingDescribe {    
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 75px 75px;
    background-position:center center;
    background-repeat: no-repeat;
}


header.loading, #wallet-tab.loading, wallets-modal div.loading {
  background-color: #547fff;
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#wallet-tab.loading, wallets-modal div.loading {
  background-color: #547fff;
  animation-name: loadingWallet;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}



#focusHeader.loading {
  background-color: #ffffff;
  animation-name: loadingFocus;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}
@keyframes loading {
  0% {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #ffffff;
    color: #7f3ddb;
  }
  50% {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #9964e3; /*#547fff; #4285f4;*/
    color: #fff;
  }
  100% {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #ffffff;
    color: #7f3ddb;
  }
}

@keyframes loadingWallet {
  0% {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #ffffff;
    color: #f0af03;
  }
  50% {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #ffc247; /*#547fff; #4285f4;*/
    color: #fff;
  }
  100% {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #ffffff;
    color: #f0af03;
  }
}


a.loading, td.loading {
  background-color: #547fff;
  animation-name: loading-record-item;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes loading-record-item {
  0% {
    border-radius: 0;
    background-color: #ffffff;
    color: #7f3ddb;
  }
  50% {
    border-radius: 0;
    background-color: #9964e3; /*#547fff; #4285f4;*/
    color: #fff;
  }
  100% {
    border-radius: 0;
    background-color: #ffffff;
    color: #7f3ddb;
  }
}



@keyframes loadingFocus {
  0% {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #9964e3;
    color: #fff;
  }
  50% {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #9964e3; /* #8a2be2; #547fff; #4285f4;*/
    color: #fff;
  }
  100% {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #9964e3;
    color: #fff;
  }
}


.up{
  white-space: nowrap;
}

.rowActive td{
  background-color: #efefef;
}

.txt{
font-size: smaller;
background-color: #efefef;
}

.instance{
  padding-left:4px;
}

.boundValue{
  vertical-align: top;
  text-align: left;
}

.via{
/*  font-size: smaller;
  vertical-align: top;
  text-align: right;*/
}

.via:hover {
  cursor: pointer;
}

#showMeHeader, #groupByHeader{
  padding-left:10px;
}

#pageRight, #pageLeft, #showMePageRight, #showMePageLeft{
  cursor:pointer;
}

/*.via:hover::after { 
 content: "";
}*/

#breadcrumbs td, #facetCollector td, #focusCollector td{
  cursor: pointer;
}

#focusCollector {
  background-color: #efefef;
}

.breadcrumb{
  font-size: smaller;
}

.count {
  color:#356AA0;
}

.circle{
  color:#73880A;
}

#showMe a:hover{
  cursor: pointer;
}

#groupBy a:hover{
  cursor: pointer;
}
.queryFocus{
  /* background-color: #6BBA70;#547fff; #3abf94; #ffc247;*/
/*background-color: white;*/
color:#ffc247;
}
.queryFocusValue{
  /* background-color: #6BBA70;#547fff; #3abf94; #ffc247;*/
/*background-color: white;*/
background-color:#ffc247;
/*
color:white;
    border-color: #ffc247;

*/
        color: #29323a;
/*    background-color: #ffb521; */
    border-color: #ffb114;
}

#isSearchAllFields.focus{
  background: transparent!important;
}
#isCache.focus{
  background: transparent!important;
}
#isDebug.focus{
  background: transparent!important;
}

.nav-link.active{
    border-top: 1px solid #4e85bd!important;
}

#walletTabButton .nav-link.active{
    border-top: 1px solid #f0af03!important;
}

#recordViewerColumn, #showMeColumn, #groupByColumn, #recordFormColumn{
  padding:4px;
}

#angular_breadcrumbBarContainer, #angular_libraryBarContainer{
  padding:4px;
}

app-navbar{
  margin-bottom: 0px;
}

.header
{
  
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: 3em;
  overflow: hidden;
  padding: .5em;
  color: #fff;
  line-height: 1.2;
  background-color: #0e5bb8;
  border-bottom: solid 1px #ddd;
  box-shadow: 1px 1px 10px #333;
}
.iframe
{
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;  
  width: 100%;
  min-height: 100%;
  padding-top: 0em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid transparent;

/*
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");   
    background-repeat: no-repeat;

    */
}





.steps {
  /*margin: 40px;*/
  padding: 0;
  overflow: hidden;
}
.steps a {
  color: white;
  text-decoration: none;
}
.steps em {
  display: block;
/*  font-size: 1.1em;*/
  text-align: right;
  float: right;
  /*font-weight: bold;*/
}
.steps li {
  float: left;
  margin-left: 0;
  min-width: 150px; /*set min-width instead of width, to allow nodes to stretch as needed */ /* 100 / number of steps */
  height: 70px; /* total height */
  list-style-type: none;
  padding: 5px 5px 5px 30px; /* padding around text, last should include arrow width */
  border-right: 3px solid #fafbff; /* width: gap between arrows, color: background of document */
  position: relative;
}
/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
  padding-left: 5px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+2)::before {
  position: absolute;
  top:0;
  left:0;
  display: block;
  border-left: 25px solid white; /* width: arrow width, color: background of document */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width: 0;
  height: 0;
  content: " ";
}
/* colored arrow to the right */
.steps li::after {
  z-index: 1; /* need to bring this above the next item */
  position: absolute;
  top: 0;
  right: -25px; /* arrow width (negated) */
  display: block;
  border-left: 25px solid #7c8437; /* width: arrow width */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width:0;
  height:0;
  content: " ";
}

/* colored arrow to the right */
.steps li.current ~ li::after {
  border-left: 0px solid #7c8437; /* width: arrow width */
  right: 0px; /* arrow width (negated) */
  z-index: -1;
}
.steps li.current ~ li::before {
  border-left: 0px solid white; /* width: arrow width, color: background of document */
}
.steps li.current ~ li {
    padding-right:1em;
  margin-right:0px;
}
.steps li.current ~ li:last-child::after {
  border-left: 25px solid #e9ecef; /* width: arrow width, color: background of document */
  right: -25px; /* arrow width (negated) */
  z-index: 1;
  padding-right:0px;
}



.steps li.current + li::before {
  border-left: 25px solid white; /* width: arrow width, color: background of document */
}
/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li { background-color: #547fff; /* #547fff; #7C8437; #2e62ff*/ color:white; }
.steps li::after { border-left-color: #547fff; /* #547fff #7C8437; */ }

/* Current */
.steps li.current { background-color: #9964e3 /*#C36615;*/ }
.steps li.current::after { border-left-color: #9964e3;  /* #C36615; */ }

.steps li.current button { background-color: #9964e3; border-color: #9964e3; /*#C36615;*/ }
/*.steps li.current button:hover { background-color: #8444dd; border-color: #7d39db; } */ /*#C36615;*/ 
.steps li.current button.btn-outline-default { background-color: #9964e3; border-color: #eee; /*#C36615;*/ }
/*.steps li.current button.btn-outline-default:hover { background-color: #8444dd; border-color: #eee; } */ /*#C36615;*/ 


/* Following */
.steps li.current ~ li { background-color: #e9ecef; color:#29323a;/*#dee2e6 #EBEBEB; color:rgba(0, 0, 0, 0.5)*/ }
.steps li.current ~ li::after { border-left-color: #e9ecef; /*#dee2e6 #EBEBEB;*/ }
.steps li.current ~ li button.btn-outline-default { border-color: #fff; /*#C36615;*/ }
.steps li.current ~ li button.btn-primary { background-color: transparent; border-color: transparent; color:#29323a;/*#C36615;*/ }

.steps li.current ~ li button.btn-primary:active {  
    
    background-color: #fff;
/*    color: #29323a;
border-color: rgba(0, 0, 0, 0.15); */
    border-color: #fff;
    color:#dae0e5;
}

.steps li.current ~ li button.btn-outline-default:active {  
    
    background-color: #fff;
/*    color: #29323a;
border-color: rgba(0, 0, 0, 0.15); */
    border-color: #fff;
    color:#dae0e5;
}
.steps li.current ~ li button.btn-outline-default:hover {  
    
    background-color: #fff;
/*    color: #29323a;
border-color: rgba(0, 0, 0, 0.15); */
    border-color: #fff;
    color:transparent;
}
.steps li.current ~ li::after button.btn-outline-default { background-color:#fff; border-color: #fff; /*#C36615;*/ }
.steps li.current ~ li::after button.btn-default { background-color: #f8f9fa; border-color: #f8f9fa; /*#C36615;*/ }
.steps li.current ~ li::after button.btn-primary { background-color: transparent; border-color: transparent; /*#C36615;*/ }

/* Hover for completed and current */
.steps li:hover {/*background-color: #547fff;*/ /* #f55d5d; #696 */}
.steps li:hover::after {/*border-left-color: #547fff;*/ /* #f55d5d; #696*/}


.padTextField{
  padding:4px 4px 4px 4px;
}


.removeFacetValue{
  text-decoration: line-through;
}


.disabled{
  color: #transparent;
  /*background: #ccc;*/
}

#keywords.disabled{
  background-color: #fff; /*#fafbff;*/
  font-weight: normal;
/*  font-size: larger;*/

  color:#9964e3;
}

button.disabled, a.disabled{
  background-color: transparent;
  color: transparent;
  cursor:default;
  border:0px solid transparent;
  display:none;
}

#map {
   height: 500px;
   width: 1000px;
}

#angular_recordsList h6 div {
top: 10px;
}

/*widget shadows interfer with the breadcrumbs*/
.widget{
-webkit-box-shadow: 0 0 0px transparent;
box-shadow: 0 0 0px transparent;  
}







 
.table-header-rotated {
  border-collapse: collapse;
}
.table-header-rotated td {
width: 30px;
}

.table-header-rotated td {
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #ccc;
}
.table-header-rotated th {
  text-align: center;
  padding: 50px 5px;
  border: 1px solid transparent;
  background-color: transparent;
  
}
.table-header-rotated th.rotate {
  height: 140px;
  white-space: nowrap;
  font-size:smaller;
}

.table-header-rotated th.rotate > div > span:hover {
background-color: rgb(233, 236, 239);
}
.table-header-rotated th.rotate > div {
  -webkit-transform: translate(25px, 51px) rotate(315deg);
          transform: translate(25px, 51px) rotate(315deg);
  width: 30px;
}
.table-header-rotated th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}


.navbar-dashboard{
background-color: #fff;
border-bottom:1px solid rgba(0,0,0,.125);
border-left:1px solid rgba(0,0,0,.125);
padding-bottom:1em;
padding-top:1em;

}


.content{
border-left:1px solid rgba(0,0,0,.125);
padding: 60px 40px 40px 15px;
}

#dataSpaceLabel{
  padding-right:4px;
}

.badge-warning {
    background-color: #f0af03!important;    
    color: #fff;
  }

  .text-warning {
    color:#f0af03!important;
  }

  div h6 .la-compress {
    top: 14px!important;
  }

div h6 .ctrl-reverse-1 {
    top: 14px!important;
    right: 46px;
}

div h6 .ctrl-reverse-2 {
    top: 14px!important;
    right: 64px;
}

div h6 .ctrl-reverse-3 {
    top: 13px!important;
    right: 46px;
}

div h6 .ctrl-reverse-4 {
    top: 14px!important;
    right: 64px;
}

div h6 .ctrl-reverse-4:hover,
div h6 .ctrl-reverse-3:hover,
div h6 .ctrl-reverse-2:hover,
div h6 .ctrl-reverse-1:hover
{
color:#000;
}


    .badge{
      font-weight: normal;
      font-size: 11px;
    }
.badge-pill {
    padding: 2px 6px;
}

.circle-sm {
  width: .7em;
  height: .7em;
  line-height: .7em;
}

td h6.row-result{
  line-height: 1.2!important;
  margin-top: 2px;
}

#showMeColumn td span.thumb-sm {
    margin-right: 0px;
}

p.help-block b{
  font-weight: normal;
  color:#495057;

}

p.text-match-subject{
  padding-top: 4px;
}

.link-category-odd{
  color:#36393D!important;/*#C79810;*/
    text-decoration: none!important;
    background-color: transparent!important;
    -webkit-text-decoration-skip: objects!important;
}
.link-category, .link-field{
    color: #218bc3!important;
    text-decoration: none!important;
    background-color: transparent!important;
    -webkit-text-decoration-skip: objects!important;
}
.link-category:hover, .link-category-odd:hover, .link-field:hover, .link-prop-field:hover{
    /*color: #7d39db!important;*/
    color: #165c82!important;
  text-decoration: none!important;
}

i.link-field:hover{
    color: #165c82!important;
  text-decoration: none!important;
}

.badge{
  min-width: 25px !important;
}


.text-warning-hack {
    color: #ffc247 !important;
}
    .badge-subject{
        margin-left: auto;
        position: absolute;
        right: 8px;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
            }

.record-active{
  background-color: #e2edf9; /* #cfe2f3ff; #dee4ee; rgba(0,0,0,.05);*/
  border-top:1px solid #d6dee5!important;
    border-radius: 0;
/*  color:#fff;*/
}
.record-active:hover{
  /*background-color: #AED6F1; #dee4ee; rgba(0,0,0,.05);*/
  background-color: #c2dbf0;
}
.table-responsive>.table-bordered {
    border: 1px solid #d6dee5;
}        


.record-active .thumb-sm .status{
border:.15em solid #cfe2f3ff;
}
.record-active:hover .thumb-sm .status{
border:.15em solid #AED6F1;
}
.loading .thumb-sm .status{
border:.15em solid #fff;
}
td .thumb-sm .status{
/*border:.15em solid rgba(0,0,0,.05);*/
}


#angular_recordsList .list-group-item div .abc-checkbox label::before{
  top:1px!important;
}
#angular_recordsList .list-group-item div .abc-checkbox label{
  top:-10px!important;
}

.ctrl-select{
  cursor: pointer;
  font-size: 16px;
}

.ctrl-select:hover{
    color: #29323a!important;
  text-decoration: none!important;
}

div h6 i {
  top: 13px;
  right:4px;
}    

.linkout{
  position: absolute;
  /*bottom: -8px;*/
  bottom: 3px;
  right:28px;
}

bs-tooltip-container{
      visibility: hidden;
      display: none;
}

.row-result{
  margin-top: 0px;
}

h6 {
  line-height: 1.5!important;
}

/*.thumb-sm>.fa, .thumb-sm>.glyphicon {*/
.icon-literal{
    line-height: 10px!important;
}

.record-action-highlight{
    cursor: pointer;
    right: 32px;
    float: none;
    position: absolute;
    /* bottom: -2px; */
}

.record-action-nix{
    cursor: pointer;
    right: 55px;
    float: none;
    position: absolute;
    /* bottom: -2px; */
}

#groupByTableHeader{
  padding-left:4px!important;
  margin-top: 0;
}

.literal-table{
/*  quotes: "“" "”" "‘" "’";*/
  font-family: "Andale Mono", AndaleMono, monospace; 
  font-size: .82rem;
}
q:before {
/*    content: open-quote;*/
}
q:after {
/*    content: close-quote;*/
}
.link-table:hover{
    color: #165c82!important;
  text-decoration: none!important;
}
.link-table{

}


.post-links {
  margin-bottom: 0;
  font-size: 0.875rem;
  padding-left: 0; }
.post-links::after {
    display: block;
    clear: both;
    content: ""; }
.post-links > li {
    float: left;
    list-style: none; }
.post-links > li + li:before {
      color: #999;
      content: "\25cf";
      padding: 0 8px; }
.post-links > li > a {
      text-decoration: none;
      color: #798892; }
.post-links > li > a:hover {
        color: #798892; }
.post-links.no-separator > li + li {
    margin-left: 12px; }
.post-links.no-separator > li + li:before {
      content: normal; }



.post-comments {
  font-size: 0.875rem;
  padding-left: 0; }
.post-comments::after {
    display: block;
    clear: both;
    content: ""; }
.post-links + .post-comments {
    margin-top: 0.5rem; }
.post-comments > li {
    padding: 10px;
    border-top: 1px solid #e7e7e7;
    list-style: none; }
.post-comments > li::after {
      display: block;
      clear: both;
      content: ""; }
.post-comments > li:last-child {
      padding-bottom: 0; }
.post-comments p:last-child {
    margin-bottom: 0; }
.post-comments .avatar {
    margin-top: 1px; }
.post-comments .author {
    margin-top: 0;
    margin-bottom: 2px;
    color: #7ca9dd; }
.post-comments .comment-body {
    overflow: auto; }
.post-comments h6.author > small {
    font-size: 11px; }
.widget > footer .post-comments {
    margin-left: -20px;
    margin-right: -20px; }



.post-user {
  position: relative; }
.post-user::after {
    display: block;
    clear: both;
    content: ""; }
.post-user img {
    border: 3px solid white; }



.user-profile .label {
  padding: 5px; }
.post-user-profile {
  margin-top: -75px; }
.post-user-profile .contacts {
    display: block;
    margin-top: 15px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 0;
    text-align: center; }
.post-user-profile .contacts > li {
      display: inline-block;
      line-height: 2.2;
      list-style: none;
      text-align: left;
      margin: 0 10px; }
@media (min-width: 992px) {
        .post-user-profile .contacts > li {
          width: 150px;
          white-space: nowrap; } }
.post-user-profile .contacts > li > a {
        color: #949da5;
        text-decoration: none; }
.post-user-profile .contacts > li > a:hover, .post-user-profile .contacts > li > a:focus {
          color: #495057; }
.stats-row-profile .stat-item {
  border-left: 0;
  text-align: center; }
.stats-row-profile .stat-item:nth(n + 1) {
    padding-left: 15px; }
.stats-row-profile .stat-item h6 {
    text-align: left; }
@media (min-width: 992px) {
    .stats-row-profile .stat-item {
      padding-right: 0; } }
.stats-row-profile .stat-item .value {
    margin-bottom: 0.5rem;
    font-size: 28px;
    font-weight: 300; }
.activities h3 {
  margin-left: 20px; }
.activities .event {
  margin-top: 1rem;
  width: 100%;
  box-shadow: 0 23px 20px -20px rgba(153, 187, 221, 0.1), 0 0 15px rgba(153, 187, 221, 0.06); }
.event {
  background: #fff;
  border-radius: 0.3rem;
  padding: 20px 20px 0;
  position: relative; }
.event .post-comments {
    margin-left: -20px;
    margin-right: -20px; }
.event > footer {
    margin: 20px -20px 0;
    padding: 10px 20px;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: #f3f3f3; }
.event > footer::after {
      display: block;
      clear: both;
      content: ""; }
.event > footer .thumb {
      margin-left: 10px; }
.event-heading {
  margin: 0 0 2px;
  font-weight: 600; }
.event-heading > a {
    text-decoration: none;
    color: #7ca9dd; }
.event-heading > small {
    font-weight: 600; }
.event-heading > small > a {
      text-decoration: none;
      color: #798892; }
.event-map {
  display: block;
  height: 200px;
  margin: 0 -20px -20px;
  overflow: visible !important; }
.event-image {
  margin: 0 -20px -20px;
  max-height: 260px;
  overflow: hidden; }
.event-image > img {
    max-width: 100%; }






.search-result-categories > .nav-item > .nav-link {
  color: #798892;
  font-weight: 400; }
.search-result-categories > .nav-item > .nav-link:hover {
    background-color: #f8f9fa;
    color: #495057; }
.search-results-count {
  margin-top: 10px; }
.search-result-item {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 23px 20px -20px rgba(153, 187, 221, 0.1), 0 0 15px rgba(153, 187, 221, 0.06);
  border-radius: 0.3rem; }
.search-result-item::after {
    display: block;
    clear: both;
    content: ""; }
.search-result-item .image-link {
    display: block;
    overflow: hidden;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem; }
@media (min-width: 768px) {
      .search-result-item .image-link {
        display: inline-block;
        margin: -20px 0 -20px -20px;
        float: left;
        width: 200px; } }
@media (max-width: 767.98px) {
      .search-result-item .image-link {
        max-height: 200px; } }
.search-result-item .image {
    max-width: 100%; }
.search-result-item .info {
    margin-top: 2px;
    font-size: 0.875rem;
    color: #798892; }
.search-result-item .description {
    font-size: 0.9rem; }
.search-result-item + .search-result-item {
    margin-top: 20px; }
.search-result-item-body {
  height: auto; }
@media (max-width: 767.98px) {
    .search-result-item-body {
      margin-top: 10px; } }
@media (min-width: 768px) {
    .search-result-item-body {
      margin-left: 200px; } }
.search-result-item-heading {
  font-weight: 400; }
.search-result-item-heading > a {
    color: #495057; }
@media (min-width: 768px) {
    .search-result-item-heading {
      margin: 0; } }





accordion .card-header {
    background: #f8f9fa;
    border-bottom: none;
    cursor: pointer;
    color: #495057;
  }



 .libraries { 
  list-style: none; 
  overflow: hidden; 
  /*font: 18px Helvetica, Arial, Sans-Serif;*/
  /*margin: 40px;*/
  font-weight: bold;
  padding: 0;
  margin-top:0;
  margin-bottom: 1rem;
}
.libraries li { 
  float: left; 
}
.libraries li a {
  color: white;
  text-decoration: none; 
  padding: 10px 0 10px 55px;
  background: red; /* fallback color */
/*  background: hsla(34,85%,35%,1); */
  background: hsla(40, 100%, 64%, 1);
  position: relative; 
  display: block;
  float: left;
}
.libraries li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
/*  border-left: 30px solid hsla(34,85%,35%,1);*/
  border-left: 30px solid hsla(40, 100%, 64%, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}   
.libraries li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}   
.libraries li:first-child a {
  padding-left: 10px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

form.navbar-form{
  width: 100%;
}


/*
.libraries li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
.libraries li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
.libraries li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
.libraries li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
.libraries li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
.libraries li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
.libraries li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
.libraries li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
*/

.libraries li:nth-child(2) a       { background:        hsla(40,100%,72%,1); }
.libraries li:nth-child(2) a:after { border-left-color: hsla(40,100%,72%,1); }
.libraries li:nth-child(3) a       { background:        hsla(40,100%,80%,1); }
.libraries li:nth-child(3) a:after { border-left-color: hsla(40,100%,80%,1); }
.libraries li:nth-child(4) a       { background:        hsla(40,100%,88%,1); color: hsla(40,100%,59%,1);}
.libraries li:nth-child(4) a:after { border-left-color: hsla(40,100%,88%,1); }
.libraries li:nth-child(5) a       { background:        hsla(40,100%,96%,1); color: hsla(40,100%,64%,1);}
.libraries li:nth-child(5) a:after { border-left-color: hsla(40,100%,96%,1); }


/*.libraries li:last-child a {
  background: transparent !important;
  color: black;
  pointer-events: none;
  cursor: default;
}
.libraries li:last-child a:after { border: 0; }*/
.libraries li a:hover { background: hsla(34,85%,25%,1); }
.libraries li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }

.btn-enter-lib{
    position: absolute;
    right: 10px;
}

.btn-set-focus{
    position: absolute;
    right: 42px;
}

#showMeColumn span.thumb-sm {
    margin-right: 8px;
}

/*  * { box-sizing: border-box; }*/
/*body {
  font: 16px Arial; 
}*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
/*
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
*/
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


a.eventHandler {
  border-left: 3px solid #ffc247;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  /*width: 320px;
  height: 480px;*/
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.breadcrumb-item+.breadcrumb-item {
    /* padding-left: .5rem; */
}





















